/* .appointment-container {
  background-image: url("../../../images/appointmentBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.appointment-container {
  background-image: url("../../../images/appointmentBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 420px;
  background-position: center center;
}

.appointment-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #3a4256;
  opacity: 0.9;
  top: 0;
}

.appointment {
  z-index: 1;
}

.appointment-container img {
  height: 550px;
  width: 100%;
  display: block;
  bottom: 20%;
  transform: translateY(-130px);
}
